@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

.enhanced-image-settings-list ul {
    background-color: hsl(220, 2%, 20%);
    color: white;
    box-shadow: 0px 0px 5px 0px hsla(0, 0%, 0%, 1);
    list-style: none;
    padding: 0;
    user-select: none;
    font-size: 14px;
    min-width: 190px;
    border-radius: 10px;
    font-family: 'Didact Gothic', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.enhanced-image-settings-list ul li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.enhanced-image-settings-list ul li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.enhanced-image-settings-list ul li:hover {
    background-color: hsl(220, 2%, 30%);
}

.enhanced-image-settings-list ul li a {
    color: white;
    text-decoration: none;
}

.enhanced-image-settings-list-button {
    cursor: pointer;
}

.enhanced-image-settings-list-value {
    margin-top: 10px;
}
