{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "chrome": 60
                }
            }
        ],
        "@babel/preset-typescript"
    ],
    "ignore": [
        "/node_modules/"
    ]
}
