image-text-select {
    display: block;
    position: relative;
}

image-text-select > img {
    border: none;
    display: block;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    user-select: none;
}
