.text-select-image-settings-container {
    display: grid;
    align-items: center;
    justify-items: right;
}

.text-select-image-settings-button {
    cursor: pointer;
    user-select: none;
    height: 30px;
    width: 30px;
}

.text-select-image-settings-button svg {
    filter: drop-shadow(0px 0px 5px hsl(220, 2%, 15%));
    height: 30px;
    width: 30px;
}
