.enhanced-image-settings-list-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 10px;
}

.enhanced-image-settings-list-value {
    margin-top: 10px;
}


/* checkbox */

.checkbox {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: hsl(220, 2%, 30%);
}

.checkbox-fill {
    background-color: white;
}
