.text-select-image-container {
    position: relative;
}

.text-select-image-container img {
    user-select: none;
    width: 100%;
}

.text-select-image-container select-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.text-select-image-container text-select-image-settings {
    position: absolute;
    top: 20px;
    right: 20px;
}
