.enhanced-image-container {
    position: relative;
}

.enhanced-image-container:-webkit-full-screen {
    min-width: 50% !important;
    min-height: 50% !important;
    height: 50% !important;
    width: 50% !important;
}

.enhanced-image {
    width: 100%;
}

.enhanced-image-settings-button {
    position: absolute;
    display: none;
    right: 20px;
    top: 20px;
    z-index: 9999;
}

.enhanced-image-container:hover .enhanced-image-settings-button {
    display: block;
}
