.enhanced-image-container {
    position: relative;
    display: inline-block;
    line-height: 1.1;
}

.enhanced-image-container:-webkit-full-screen {
    min-height: 100% !important;
    height: 100% !important;
}

.enhanced-image {
    width: 100%;
}

.enhanced-image-settings {
    position: absolute;
    display: none;
    z-index: 9999;
}

.enhanced-image-settings-topright {
    right: 20px;
    top: 20px;
}

.enhanced-image-settings-topleft {
    top: 20px;
    left: 20px;
}

.enhanced-image-settings-bottomleft {
    bottom: 20px;
    left: 20px;
}

.enhanced-image-settings-bottomright {
    bottom: 20px;
    right: 20px;
}



.enhanced-image-container:hover .enhanced-image-settings {
    display: block;
}
